%h1 Listing Patients

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th First name
      %th Middle name
      %th Last name
      %th Email
      %th DoB
      %th Physicians

  %tbody
    - @patients.each do |patient|
      %tr
        %td
          = link_to patient.first_name, patient
          = link_to_edit "", edit_patient_path(patient)
          = link_to_destroy "", patient
        %td= patient.middle_name
        %td= patient.last_name
        %td= patient.email
        %td= patient.dob
        %td= patient.physicians.pluck(:name).join(", ")

:javascript
  $(document).ready(function() {
    $('.table.table.table-bordered.table-striped').DataTable({
      order: [[ 0, 'asc' ], [ 2, 'asc' ]]
    });
  });

%br
= button_to_new "New Patient", new_patient_path
