%p#notice= notice

%p
  %b Name:
  = @role.name

.card
  %h3.card-header Fields they control
  .card-block
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Name
          %th Type
      %tbody
        - @role.record_fields.each do |record_field|
          %tr
            %td= record_field.name
            %td= record_field.record_type.try(:name)

%br/
= button_to_edit 'Edit Role', edit_role_path(@role), data: { turbolinks: false }
\|
= button_to_back 'Back to Roles', roles_path
